# DB
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=5432

# Django
SECRET_KEY=

# Notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
